In [113]:
import pandas as pd

In [114]:
df = pd.read_csv('./data/insurance_dataset.csv')

In [115]:
df

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,NaN,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,NaN,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,NaN,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,59,male,46.67,2,no,northeast,High blood pressure,NaN,Frequently,Student,Basic,11584.134900
999996,33,male,36.83,2,no,northeast,NaN,High blood pressure,Frequently,Unemployed,Basic,9834.871456
999997,39,male,39.84,0,yes,northeast,Heart disease,High blood pressure,Rarely,Blue collar,Standard,22076.632856
999998,37,female,45.06,4,yes,northeast,High blood pressure,Diabetes,Occasionally,Unemployed,Premium,20297.618728
999999,41,male,30.02,2,yes,northeast,Diabetes,Heart disease,Occasionally,Blue collar,Standard,23429.725030

In [116]:
df.shape

(1000000, 12)

In [117]:
df.dtypes

age                         int64
gender                     object
bmi                       float64
children                    int64
smoker                     object
region                     object
medical_history            object
family_medical_history     object
exercise_frequency         object
occupation                 object
coverage_level             object
charges                   float64
dtype: object

In [118]:
df.isnull().sum()

age                            0
gender                         0
bmi                            0
children                       0
smoker                         0
region                         0
medical_history           250762
family_medical_history    250404
exercise_frequency             0
occupation                     0
coverage_level                 0
charges                        0
dtype: int64

In [119]:
unique_values = df['medical_history'].unique()
print(f"Number of unique values: {unique_values}")

Number of unique values: ['Diabetes' nan 'High blood pressure' 'Heart disease']

In [120]:
value_counts = df['medical_history'].value_counts()
print(value_counts)

medical_history
Heart disease          250121
High blood pressure    249782
Diabetes               249335
Name: count, dtype: int64

In [121]:
df['medical_history'] = df['medical_history'].fillna('Unknown')

In [122]:
unique_values = df['family_medical_history'].unique()
print(f"Number of unique values: {unique_values}")

Number of unique values: [nan 'High blood pressure' 'Diabetes' 'Heart disease']

In [123]:
value_counts = df['family_medical_history'].value_counts()
print(value_counts)

family_medical_history
Heart disease          250035
High blood pressure    249824
Diabetes               249737
Name: count, dtype: int64

In [124]:
df['family_medical_history'] = df['family_medical_history'].fillna('Unknown')

In [125]:
df.isnull().sum()

age                       0
gender                    0
bmi                       0
children                  0
smoker                    0
region                    0
medical_history           0
family_medical_history    0
exercise_frequency        0
occupation                0
coverage_level            0
charges                   0
dtype: int64

In [126]:
value_counts = df['gender'].value_counts()
print(value_counts)

gender
male      500107
female    499893
Name: count, dtype: int64

In [127]:
df['gender'] = df['gender'].map({'male': 0, 'female': 1})
print(df)

        age  gender    bmi  children smoker     region      medical_history  \
0        46       0  21.45         5    yes  southeast             Diabetes
1        25       1  25.38         2    yes  northwest             Diabetes
2        38       0  44.88         2    yes  southwest              Unknown
3        25       0  19.89         0     no  northwest              Unknown
4        49       0  38.21         3    yes  northwest             Diabetes
...     ...     ...    ...       ...    ...        ...                  ...
999995   59       0  46.67         2     no  northeast  High blood pressure
999996   33       0  36.83         2     no  northeast              Unknown
999997   39       0  39.84         0    yes  northeast        Heart disease
999998   37       1  45.06         4    yes  northeast  High blood pressure
999999   41       0  30.02         2    yes  northeast             Diabetes

       family_medical_history exercise_frequency    occupation coverage_level  \
0                     Unknown              Never   Blue collar        Premium
1         High blood pressure       Occasionally  White collar        Premium
2         High blood pressure       Occasionally   Blue collar        Premium
3                    Diabetes             Rarely  White collar       Standard
4         High blood pressure             Rarely  White collar       Standard
...                       ...                ...           ...            ...
999995                Unknown         Frequently       Student          Basic
999996    High blood pressure         Frequently    Unemployed          Basic
999997    High blood pressure             Rarely   Blue collar       Standard
999998               Diabetes       Occasionally    Unemployed        Premium
999999          Heart disease       Occasionally   Blue collar       Standard

             charges
0       20460.307669
1       20390.899218
2       20204.476302
3       11789.029843
4       19268.309838
...              ...
999995  11584.134900
999996   9834.871456
999997  22076.632856
999998  20297.618728
999999  23429.725030

[1000000 rows x 12 columns]

In [128]:
value_counts = df['smoker'].value_counts()
print(value_counts)

smoker
yes    500129
no     499871
Name: count, dtype: int64

In [129]:
df['smoker'] = df['smoker'].map({'yes': 0, 'no': 1})
# Check the result
print(df)

        age  gender    bmi  children  smoker     region      medical_history  \
0        46       0  21.45         5       0  southeast             Diabetes
1        25       1  25.38         2       0  northwest             Diabetes
2        38       0  44.88         2       0  southwest              Unknown
3        25       0  19.89         0       1  northwest              Unknown
4        49       0  38.21         3       0  northwest             Diabetes
...     ...     ...    ...       ...     ...        ...                  ...
999995   59       0  46.67         2       1  northeast  High blood pressure
999996   33       0  36.83         2       1  northeast              Unknown
999997   39       0  39.84         0       0  northeast        Heart disease
999998   37       1  45.06         4       0  northeast  High blood pressure
999999   41       0  30.02         2       0  northeast             Diabetes

       family_medical_history exercise_frequency    occupation coverage_level  \
0                     Unknown              Never   Blue collar        Premium
1         High blood pressure       Occasionally  White collar        Premium
2         High blood pressure       Occasionally   Blue collar        Premium
3                    Diabetes             Rarely  White collar       Standard
4         High blood pressure             Rarely  White collar       Standard
...                       ...                ...           ...            ...
999995                Unknown         Frequently       Student          Basic
999996    High blood pressure         Frequently    Unemployed          Basic
999997    High blood pressure             Rarely   Blue collar       Standard
999998               Diabetes       Occasionally    Unemployed        Premium
999999          Heart disease       Occasionally   Blue collar       Standard

             charges
0       20460.307669
1       20390.899218
2       20204.476302
3       11789.029843
4       19268.309838
...              ...
999995  11584.134900
999996   9834.871456
999997  22076.632856
999998  20297.618728
999999  23429.725030

[1000000 rows x 12 columns]

In [130]:
unique_values = df['region'].unique()
print(f"Number of unique values: {unique_values}")

Number of unique values: ['southeast' 'northwest' 'southwest' 'northeast']

In [131]:
unique_values = df['occupation'].unique()
print(f"Number of unique values: {unique_values}")

Number of unique values: ['Blue collar' 'White collar' 'Student' 'Unemployed']

In [132]:
unique_values = df['exercise_frequency'].unique()
print(f"Number of unique values: {unique_values}")

Number of unique values: ['Never' 'Occasionally' 'Rarely' 'Frequently']

In [133]:
unique_values = df['coverage_level'].unique()
print(f"Number of unique values: {unique_values}")

Number of unique values: ['Premium' 'Standard' 'Basic']

In [134]:
df = pd.get_dummies(df, columns=['region', 'occupation','medical_history','family_medical_history','exercise_frequency','coverage_level'], drop_first=False)

In [135]:
df.dtypes

age                                             int64
gender                                          int64
bmi                                           float64
children                                        int64
smoker                                          int64
charges                                       float64
region_northeast                                 bool
region_northwest                                 bool
region_southeast                                 bool
region_southwest                                 bool
occupation_Blue collar                           bool
occupation_Student                               bool
occupation_Unemployed                            bool
occupation_White collar                          bool
medical_history_Diabetes                         bool
medical_history_Heart disease                    bool
medical_history_High blood pressure              bool
medical_history_Unknown                          bool
family_medical_history_Diabetes                  bool
family_medical_history_Heart disease             bool
family_medical_history_High blood pressure       bool
family_medical_history_Unknown                   bool
exercise_frequency_Frequently                    bool
exercise_frequency_Never                         bool
exercise_frequency_Occasionally                  bool
exercise_frequency_Rarely                        bool
coverage_level_Basic                             bool
coverage_level_Premium                           bool
coverage_level_Standard                          bool
dtype: object

In [136]:
# Import necessary libraries
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Example: Split the data into features (X) and target (y)
X = df.drop('charges', axis=1)  # Replace 'target_column' with your actual target column
y = df['charges']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features (important for regularization models like Ridge and Lasso)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 1. Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(X_train_scaled, y_train)
y_pred_lin_reg = lin_reg.predict(X_test_scaled)

# Evaluate the models
def evaluate_model(y_test, y_pred):
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mse, r2

# Linear Regression Evaluation
mse_lin_reg, r2_lin_reg = evaluate_model(y_test, y_pred_lin_reg)
print(f"Linear Regression: MSE = {mse_lin_reg}, R-squared = {r2_lin_reg}")

Linear Regression: MSE = 83488.78749592991, R-squared = 0.9957098823166866